@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'quickpen'; /* Choose a name for your font family */
  src: url('./assets/quickpen.otf') format('opentype');
}

@page { size: A5;  margin: 0; }
@media print {
  .printHide {
    display: none;
  }
  .preview {
    box-shadow: none;
    border: none;
    zoom: 0.75;
  }
}
